.overley{
 background-color: rgba(0, 0, 0,0.9);
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   border-radius: 40px;
    
}

.content{
    padding: 13px;
line-height: 2.5rem;
    text-align: center;
    color: white;
}
@media (max-width:900px){
   .content{ padding: 0 auto;
line-height: 1.35rem;}
}