.modal{
    display: none;
}
.wraper{

margin: 150px;

}
.heart{
    text-align: center;
}
.wraper h4{
    padding-top: 65px;
    color: rgb(2, 58, 57);
    text-shadow: 3px 3px 3px rgba(3, 53, 52, 0.25);
    margin-left: 60px;

}
.container{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
.Weather{
    width: 40%;  
}
.Weather:hover{
    position: relative;
    
}
.Weather:hover .modal{
    display: block;
}
.Weather img{
    width: 40%;
    display: block;
    margin: auto;
}


.Dictionary{
    width: 50%; 
}
.Dictionary:hover{
    position: relative;
}
.Dictionary:hover .modal{
  display: block;

}
.Dictionary img{
    width: 100%;
    border-radius: 40px;
}
.ToDo{
    width: 50%; 
}
.ToDo img{
    width: 100%;
    border-radius: 40px;
}
.ToDo:hover{
    position: relative;
}
.ToDo:hover .modal{
    display: block;
   
}
.FoodApp{
    width: 40%;  
}
.FoodApp img{
    width: 410px;
    margin: auto;
    display: block;
    border-radius: 40px;
}
.FoodApp:hover{
    position: relative;
}
.FoodApp:hover .modal{
    display: block;
   
}
@media (max-width:900px){
    .wraper{
        margin: 50px auto;
       
    }
    .container{
        display: block;
        margin: 40px auto;
    
    }
    .ToDo , .Dictionary, .Weather,.FoodApp
    {
        width: 100%;
      
        margin-bottom: 3.5rem;
        border-radius: 4px;
       
    }

    .ToDo , .Dictionary, .Weather,.FoodApp img{
    width: 100%
  }
}