.pdf{background-color: aqua;
    border: 2px solid aqua;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    color: rgb(2, 58, 57);
    text-decoration: none;
    color: rgb(2, 58, 57);
}
a:hover{
    cursor: pointer;
    color: rgb(2, 58, 57);
}
.wraper{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    padding: 80px;
  
}
.tool{
    margin: 150px;   
}
.content{
    width: 90%;
    line-height: 2rem;
    margin-left: 60px;
   
   
}
.content h3{
    font-weight: bolder;
    font-size: 32px;
    text-shadow: 3px 3px 3px rgba(3, 53, 52, 0.25) 
}
.content p{
    text-shadow: 2px 2px 2px rgba(3, 53, 52, 0.2)
}
.shadow{
    position: absolute ;
   box-shadow: 0px 0px 5px rgba(3, 240, 240, 0.4);
   border: 8px solid rgba(57, 241, 235, 0.25);
    width:120px;
    margin-top: 16px;
    
}
.image img{
    width:45%;
    border-radius: 40px;
    display: block;
    margin: auto;
   
}
.toolwraper{
    margin: 40px;
    display: flex;
    justify-content: left;
}
.symbol img{
    width: 60px;
   
}
.symbol {
    text-align: center;
    padding: 50px;
}
@media (max-width:900px){
    .wraper{
        display: block;
        margin: 0 auto;
    }
    .content{
        width: 100%;
        margin-left: 10px;
       
        margin-bottom: 2rem
    }
}
